* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-primary: #22396B;
    --bg-secondary: #4570BA;
    --bg-cards: #131F34;
    --bg-secondary: #070B13;

    --font-headings: 'Eb Garamond', Serif;
    --font-body: 'Inter', sans-serif; 
    --font-cards: 'Inter', bricolage grotesque, sans-serif;

    --font-color-primary: #EAB308;
    --font-color-secondary: #F8FAFC;

    --color-neutral: #D3D3D3;
 
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;

    --radius-card: 8px;
    --radius-button: 4px;
    --icon-size: 32px;
    --logo-size: 101px;
}

header {
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-neutral);
}

.logo-text,
.location-text{
    font-family: var(--font-headings);
    color: var(--font-color-primary);
    font-weight: 800;
    font-size: 2.5rem;
    margin: var(--spacing-md);
}

.logo{
    width: var(--logo-size);
    height: var(--logo-size);
}

