* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-primary: #111D36;
    --bg-secondary: #4570BA;
    --bg-cards-primary: #283758;
    --bg-cards-secondary: #22396B;
    --bg-third: #070B13;

    --font-headings: 'Eb Garamond', serif;
    --font-test: "Segoe UI", Roboto, Helvetica, sans-serif;
    --font-body: 'Inter', Helvetica, sans-serif; 
    --font-card-title: 'Montserrat', sans-serif;
    --font-card-body: 'Roboto', sans-serif;    

    --font-color-primary: #EAB308;
    --font-color-secondary: #F8FAFC;

    --color-neutral: #D3D3D3;
 
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;

    --radius-card: 8px;
    --radius-button: 4px;
    --icon-size: 32px;
    --logo-size: 101px;
}

body {
    background-color: var(--bg-primary);

}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-neutral);
    padding: var(--spacing-sm);

}

.logo-text,
.location-text{
    font-family: var(--font-test);
    color: var(--font-color-primary);
    font-weight: 800;
    font-size: 2.5rem;
    padding: var(--spacing-sm);

}

.logo{
    width: var(--logo-size);
    height: var(--logo-size);
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: var(--spacing-xxl);
    gap: var(--spacing-xl);
    border-bottom: 1px solid var(--color-neutral);
}

.presentation-title {
    font-family: var(--font-headings);
    color: var(--font-color-secondary);
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.presentation-text {
    max-width: 55ch;
    font-size: 1.3rem;
    color: var(--font-color-secondary);
    font-family: var(--font-body);
    text-align: center;
    margin-bottom: var(--spacing-xxl);
}

.licors {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: var(--spacing-xl); 
    padding: var(--spacing-xxl) 5%;
    max-width: 1200px;
    margin: 0 auto;
}


.licor-card {
    background-color: var(--bg-cards-primary);
    display: flex;
    flex-direction: column;
    
    border: 1px solid var(--color-neutral);
    border-radius: var(--radius-card); 
    overflow: hidden; 
    
}

.licor-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-info {
    background-color: var(--bg-cards-secondary);
    display: flex;
    flex-direction: column;
    flex: 1; 
    padding: var(--spacing-md); 
    gap: var(--spacing-sm);
}

.licor-name {
    font-family: var(--font-card-title);
    color: var(--font-color-primary);
    font-size: 1.4rem;
    font-weight: 800;
    margin: 0;
}

.licor-description {
    font-family: var(--font-card-body);
    color: var(--font-color-secondary);
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0; 
}

.spirit{
    background-color: var(--bg-third);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    padding: var(--spacing-md);
    margin: var(--spacing-md);
    width: 100%;
}


.title {
    text-align: center;
    padding: var(--spacing-md);
    font-family: var(--font-headings);
    color: var(--font-color-primary);
    font-size: 2.5rem;
}

.info-about-us {
    font-family: var(--font-body);
    font-size: 1.1rem;
    color: var(--font-color-secondary);
    text-align: center;
    max-width: 100ch;
    line-height: 1.6;  
    margin: 0;
}